* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #DCE2E0;
    padding: 2rem 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 100px;
}

.header>a{
    color: #0E3B2C;
    font-size: 30px;
    font-weight: 700;
}

.header span{
    color: rgba(146, 17, 17, 0.705);
}


.header>a:hover{
    font-size: 32px;
}

.navbar ul li{
    display: inline-block;
    justify-content: space-evenly;
}

.navbar ul li a{
    margin-right: 2rem;
    color: #0E3B2C;
    font-size: 18px;
    font-weight: 600;
}

.navbar ul li a:hover{
    text-decoration: underline;
    font-size: 19px;
    color: rgba(87, 20, 20, 0.651);
    transition: all 0.3s;
}

.navbar ul button{
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background-color: #0E3B2C;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 180px;
    margin-left: 2rem;
}


@media (max-width : 1160px){
    .header{
        flex-direction: column;
    }

    .navbar ul  {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
    }
}



